<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap08-redirect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OtherSiteRedirectServlet</display-name>
    <servlet-name>OtherSiteRedirectServlet</servlet-name>
    <servlet-class>com.ohgiraffers.redirect.OtherSiteRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherSiteRedirectServlet</servlet-name>
    <url-pattern>/OtherSiteRedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherServletRedirectTest</display-name>
    <servlet-name>OtherServletRedirectTest</servlet-name>
    <servlet-class>com.ohgiraffers.redirect.OtherServletRedirectTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherServletRedirectTest</servlet-name>
    <url-pattern>/OtherServletRedirectTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.ohgiraffers.redirect.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
</web-app>